.btn-big {
  padding: 10px 12px;
}

.btn-mega {
  padding: 10px 16px;
}

.btn-full {
  width: 100%;
  margin-bottom: 5px !important;
}

.btn-uppercase {
  text-transform: uppercase;
}



.btn-primary {
  background-color: $primary-colour;
  border-color: $primary-colour;
  &:hover {
    color: #fff;
    background-color: lighten($primary-colour, 30%);
    border-color: lighten($primary-colour, 30%);
  }

  &.disabled, :disabled {
    background-color: $primary-colour;
    border-color: $primary-colour;
  }
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 2px transparentize($primary-colour, 0.5);
}

.btn-primary:active, .btn-primary.active,
.show > .btn-primary.dropdown-toggle {
  background-color: $primary-colour;
  border-color: $primary-colour;
}

.btn-outline-primary {
  color: $primary-colour;
  border-color: $primary-colour;
}

.btn-outline-primary:hover {
  background-color: $primary-colour;
  border-color: $primary-colour;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 2px transparentize($primary-colour, 0.5)
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: $primary-colour;
}

.btn-outline-primary:active, .btn-outline-primary.active,
.show > .btn-outline-primary.dropdown-toggle {
  background-color: $primary-colour;
  border-color: $primary-colour;
}

.u-btn-outline-primary {
  color: $primary-colour;
  border-color: $primary-colour;
  background-color: transparent;
}

.u-btn-outline-primary:focus, .u-btn-outline-primary.active {
  color: #fff;
  background-color: $primary-colour;
}

.u-btn-outline-primary:hover {
  color: #fff;
  background-color: $primary-colour;
}
