@import "buttons";

.AjaxLoading {
  display: none;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, .7) url(../images/loading.gif) 50% 50% no-repeat;
  border: 0px solid #fefefe;
  color: #000;
  text-align: center;
  font-weight: 700;
  &.dark {
    background: rgba(0, 0, 0, .7) url(../images/loading.gif) 50% 50% no-repeat;
    color: #fff;
  }
}

.AjaxLoadingGears {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, .7) url(../images/gears.gif) 50% 50% no-repeat;
  border: 1px solid #fefefe;
  background-size: contain;
}

.hide {
  display: none !important;

}

.modal {

  #modalBody {
    .AjaxLoading {
      //position: relative;
    }
  }
}

@media (max-width: 767px) {
  // mobile
  html {

    * h1 {
      font-size: 2rem !important;
      line-height: 2.3rem !important;
    }

    * h2 {
      font-size: 1.625rem !important;
      line-height: 1.825rem !important;
    }

    * h3 {
      font-size: 1.325rem !important;
      line-height: 1.525rem !important;
    }

    * h4 {
      font-size: 1.125rem !important;
      line-height: 1.325rem !important;
    }

    * h5 {
      font-size: 1.025rem !important;
      line-height: 1.125rem !important;
    }

    * h6 {
      font-size: 1rem !important;
      line-height: 1.025rem !important;
    }
  }
}

@media (max-width: 992px) and (min-width: 767px) {
  //tablet
  html {

    * h1 {
      font-size: 2.8rem !important;
      line-height: 2.95rem !important;
    }

    * h2 {
      font-size: 1.825rem !important;
      line-height: 2.025rem !important;
    }

    * h3 {
      font-size: 1.525rem !important;
      line-height: 1.725rem !important;
    }

    * h4 {
      font-size: 1.125rem !important;
      line-height: 1.325rem !important;
    }

    * h5 {
      font-size: 1.025rem !important;
      line-height: 1.125rem !important;
    }

    * h6 {
      font-size: 1rem !important;
      line-height: 1.075rem !important;
    }
  }
}

.center-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

