@import "buttons";
.AjaxLoading {
  display: none;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, .7) url(../images/loading.gif) 50% 50% no-repeat;
  border: 0px solid #fefefe;
  color: #000;
}

.AjaxLoadingGears {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, .7) url(../images/gears.gif) 50% 50% no-repeat;
  border: 1px solid #fefefe;
  background-size: contain;
}

.hide {
  display: none !important;

}

